@import "../SCSS/variables.scss";
 .about {
    display: flex;
    color: $color-primary;
    flex-direction: column;
    align-items: center;
    padding-inline: 130px;
    margin-top: 15px;
    margin-bottom: 30px;
    @media(max-width:768px){
        padding-inline: 25px;
    }
}

.flex {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
