
@import "../SCSS/variables.scss";

.navbar{
     margin: 40px 75px 40px 65px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    &_logo{
      flex: 1;
      width: 13.2rem;
      height: 68px;
      display: flex;
      align-items: flex-start;
      margin: 0;
      & img{
        width: 100%;
    }
    }
}

#navbar_page{
  display: flex;
    align-items: center;
    justify-content: flex-end;
    & a.active {
      text-decoration: underline ;
      color: black;
    } 
}

.navbar_page-link{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        text-align: right;
        line-height: 142.6%;
        padding-left: 3.5rem;
        color:black;
    }
  
 
    @media screen and (max-width :768px) {
  .navbar{
    margin:5%;
    &_logo{
      width: 9rem;
      height: 45px;
            margin-left: 17px;
      & img{
        width:100%;
      }
    }
    &_page{
      gap: 20px;
    }
  }
  .navbar_page-link{
    padding-left: 1.5rem;
    font-size: 12px;
  }
  .navbar_page-link[href="/"],.navbar_page-link[href="/about"]{
    text-transform: uppercase;
  }
  
}
@media screen and (max-width :365px){
.navbar_page-link{
  gap: 20px;
  padding-left: 0.2rem;
  padding-right: 0.1rem;
  font-size: 12px;
}
}