@import "./SCSS/variables.scss";

*{
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: "Montserrat", sans-serif;
}
li{
  list-style-type: none;
=======
>>>>>>> 3c3136761d58e51f7893aed30377e7c3b4efc8a3
}
#root{
  width: 100%;
}
